body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;  
}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.menu .part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-element {
position: relative;
color: #404bbf;
}

.menu-element::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.adres {
    font-style: normal;
    margin-left: auto;
}

.adres-list {
    display: flex;
    gap: 40px;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.first-sect {
    background: #2e2f42;
    display: block;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
background: #404bbf;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.second-sect {
    padding-top: 120px;
    padding-bottom: 120px;
}

.second-sect .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.second-list-icon-wrap {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    gap: 24px;
}

.page-list {
    width: calc((100% - 72px) / 4);
}

.page-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.page-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-sect {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.third-list {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.third-sect .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.photo-list {
    display: flex;
    gap: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.title-container {
padding-top: 32px;
padding-bottom: 32px;
}

.photo-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.photo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-link-team {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team-icon {
    fill: #f4f4fd;
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: #404BBF;
}

.fourth-sect {
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-sect .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list:hover .card-cover-text{
    transform: translateY(0);
}

.card-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-img-wrap {
position: relative;
overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.ground {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ground-container {
    display: flex;
    align-items: baseline;
}

.logo-container {
    margin-right: 120px;
}

.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.ground .part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.ground .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social-container {
    width: 208px;
    height: 80px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-link-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-link-item:hover,
.footer-link-item:focus {
    background-color: #31D0AA;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 453px;
    height: 80px;
    margin-left: 80px;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-label {
    display: flex;
}

.form-input {
    display: flex;
    margin-right: 24px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
}

label button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.form-btn-icon {
    fill: #ffffff;
}

input::placeholder {
    padding-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}

.modal button {
    position: absolute;
    top: 24px;
    right: 24px;
}